* {
    margin: 0;
    padding: 0;
}

#auth-page #google-openid-button {
    background: #FFFFFF url('/media/images/registration_logos/google_logo.png') no-repeat center;
    border: 2px solid #999999;
    cursor: pointer;
    height: 85px;
    width: 225px;
}

#auth-page #google-openid-button:hover {
    border: 2px solid #FFE4C4;
}

#auth-page #register-div {
    float: right;
    width: 520px;
}

#auth-page #register-div > * {
    margin-left: 20px;
}

#auth-page #third-party-div {
    border-right: 3px dashed #333333;
    width: 350px;
}

#auth-page #third-party-div > * {
    margin: 20px 0px 20px 0px;
}

blockquote.comment-body, div.preview {
    line-height: 120%;
}

blockquote.comment-body blockquote, div.preview blockquote {
    border-left: 5px solid #FF6600;
    padding-left: 5px;
}

blockquote.comment-body code, blockquote.comment-body pre, div.preview code, div.preview pre {
    background-color: #DDDDDD;
    padding: 2px;
}

blockquote.comment-body h1, div.preview h1 {
    border-bottom: none;
}

blockquote.comment-body li, div.preview li {
    border-bottom: none !important;
    margin-bottom: 6px !important;
    padding: 0px !important;
}

blockquote.comment-body ul, div.preview ul {
    list-style-type: disc !important;
}

body {
    background-color: #999999;
    color: #FFFFFF;
    font-family: Arial;
    height: 100%;
}

#clear-footer {
    height: 2.0em;
}

.comment-body {
    font-size: 115%;
    margin: 5px 0px 5px 10px;
}

.comment-links {
    min-height: 15px;
}

.comment-links a {
    color: #666666;
}

#comment-list {
    font-size: 80%;
}

.comment-pagination-parent {
    background-color: #F0E68C;
}

.comment-nonscore {
    margin-left: 45px;
}

.comment-score {
    color: #666666;
    float: left;
    font-size: 20px;
    margin: auto;
    width: 30px;
}

#comments h1 {
    font-size: 26px;
}

#comments ul {
    list-style-type: none;
}

#container {
    background-color: #FFFFFF;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin-bottom: -2.0em;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

#content {
    background-color: #FFFFFF;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 2.0em;
}

#content #comments #comment-list li.comment-child {
    padding-left: 3.0em;
}

#content #comments > #comment-list > li, #content #comments > #comment-list > div > li, #content #comments > #comment-list > div > div > li {
    border-bottom: 1px dotted #333333;
    padding: 10px;
}

#content img {
    margin-bottom: 5px;
    margin-top: 5px;
}

#content li {
    margin-bottom: 3px;
    margin-top: 3px;
}

#content ol {
    margin-bottom: 10px;
    margin-top: 10px;
}

#content ul {
    margin-bottom: 10px;
    margin-top: 10px;
}

#content ul.comment-links {
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 0px;
}

#content ul.errorlist {
    font-size: 0.8em;
    list-style-type: none;
    margin: 0px;
}

#content ul.errorlist li {
    margin-bottom: 2px;
}

div#comment-sorting {
    background-color: #333333;
    color: #CCCCCC;
    margin: 0px;
    padding: 10px;
}

div#comment-sorting a {
    color: #FFFFFF;
    text-decoration: none;
}

div#comment-sorting > ul {
    display: inline;
    margin: 0px 0px 0px 5px;
}

div#comment-sorting > ul > li {
    display: inline;
    margin: 0px 6px 0px 6px;
    padding: 10px 6px 10px 6px !important;
}

div#comment-sorting li.selected {
    background-color: #FF6600;
}

div.score-sum {
    height: 24px;
    margin: auto;
    text-align: center;
}

div.score-sum > img {
    margin: auto;
}

div.preview {
    background-color: #EEEEEE;
    border: 1px dashed #000000;
    min-height: 49px;
}

.downvote-arrow {
    background-image: url('/media/images/comment-arrows/down-arrow-default.png');
}

.downvote-arrow-selected, .downvote-arrow:hover {
    background-image: url('/media/images/comment-arrows/down-arrow-selected.png');
}

header {
    display: block;
}

footer {
    background-color: #333333;
    color: #CCCCCC;
    display: block;
    height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 10px 0em 10px;
    width: 930px;
}

footer section {
    display: inline;
}

form td, th {
    padding: 10px;
    vertical-align: bottom;
}

form th {
    font-weight: normal;
    padding-right: 10px;
    text-align: right;
}

form th.comment-column-header {
    vertical-align: top;
}

form th.comment-column-header > p {
    font-size: 80%;
    padding-top: 10px;
    width: 100px;
}

form tr.error {
    background-color: #DE9988;
}

form tr.error td, tr.error th {
    border-bottom: 3px solid #CC0000;
    border-top: 3px solid #CC0000;
    padding-bottom: 7px;
    padding-top: 7px;
}

form tr.required th label {
    font-weight: bold;
}

h1 {
    border-bottom: thin dotted black;
    color: black;
    margin: 10px 0px 15px 0px;
}

img {
    display: block;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 3px 0px 3px 0px;
}

nav li {
    display: inline;
    padding: 0px 20px 0px 20px;
}

html {
    height: 100%;
}

ol {
    list-style-position: inside;
}

nav {
    display: block;
}

input.openid {
    background-image: url('/media/images/openid_logo/openid-16x16.gif');
    background-repeat: no-repeat;
    padding-left: 16px;
}

p {
    margin: 15px 0px 15px 0px;
}

p.error {
    color: #FF0000;
}

p.flash {
    background-color: #DEFFDD;
    border-radius: 10px;
    font-weight: bold;
    margin: auto;
    -moz-border-radius: 10px;
    padding: 5px;
    text-align: center;
    -webkit-border-radius: 10px;
    width: 50%;
}

p.flash.comment-posted-successfully {
    position: fixed;
    left: 25%;
    top: 40px;
    z-index: 2;
}

#primary-navbar {
    background-color: #FF6600;
    font-size: 1.2em;
}

#secondary-navbar {
    display: inline;
    font-size: 1.0em;
}

table thead {
    font-weight: bold;
    text-align: center;
}

#secondary-navbar ul {
    display: inline;
}

section {
    display: block;
}

#site-wide-announcements {
    background-color: #DEFFDD;
    border: 2px solid #20BC00;
    margin: 10px;
    padding: 5px 10px 5px 10px;
}

ul {
    list-style-position: inside;
}

ul.comment-links li {
    display: inline;
    margin-right: 10px;
}

.upvote-arrow {
    background-image: url('/media/images/comment-arrows/up-arrow-default.png');
}

.upvote-arrow-selected, .upvote-arrow:hover {
    background-image: url('/media/images/comment-arrows/up-arrow-selected.png');
}

#user-bar {
    background-color: #333333;
    color: #CCCCCC;
    padding: 0.5em 0em;
    text-align: right;
}

#user-bar li {
    display: inline;
    padding: 10px;
}

#user-bar nav {
    display: inline;
}

#user-bar ul {
    display: inline;
    list-style-type: none;
    padding: 3px 0px;
}

.vote-arrow {
    display: block;
    height: 15px;
    margin: 5px 0px 5px 0px;
    width: 30px;
}
