* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #999999;
    color: #FFFFFF;
    font-family: Arial;
    height: 100%;
}

#clear-footer {
    height: 2.0em;
}

#container {
    background-color: #FFFFFF;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin-bottom: -2.0em;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

#content {
    background-color: #FFFFFF;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 2.0em;
}

#content img {
    margin-bottom: 5px;
    margin-top: 5px;
}

#content li {
    margin-bottom: 3px;
    margin-top: 3px;
}

#content ol {
    margin-bottom: 10px;
    margin-top: 10px;
}

#content ul {
    margin-bottom: 10px;
    margin-top: 10px;
}

#content ul.errorlist {
    font-size: 0.8em;
    list-style-type: none;
    margin: 0px;
}

#content ul.errorlist li {
    margin-bottom: 2px;
}

header {
    display: block;
}

footer {
    background-color: #333333;
    color: #CCCCCC;
    display: block;
    height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 10px 0em 10px;
    width: 930px;
}

footer section {
    display: inline;
}

form td, th {
    padding: 10px;
}

form th {
    font-weight: normal;
    padding-right: 10px;
    text-align: right;
    vertical-align: bottom;
}

form tr.error {
    background-color: #DE9988;
}

form tr.error td, tr.error th {
    border-bottom: 3px solid #CC0000;
    border-top: 3px solid #CC0000;
    padding-bottom: 7px;
    padding-top: 7px;
}

h1 {
    border-bottom: thin dotted black;
    color: black;
    margin: 10px 0px 15px 0px;
}

img {
    display: block;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 3px 0px 3px 0px;
}

nav li {
    display: inline;
    padding: 0px 20px 0px 20px;
}

html {
    height: 100%;
}

ol {
    list-style-position: inside;
}

nav {
    display: block;
}

p {
    margin: 15px 0px 15px 0px;
}

p.error {
    color: #FF0000;
}

#primary-navbar {
    background-color: #FF6600;
    font-size: 1.2em;
}

#registration-page #google-openid-button {
    background: #FFFFFF url('/media/images/registration_logos/google_logo.png') no-repeat center;
    border: 2px solid #999999;
    cursor: pointer;
    height: 85px;
    width: 225px;
}

#registration-page #register-div {
    border-left: 3px dashed #333333;
    float: right;
    width: 540px;
}

#registration-page #register-div > * {
    margin-left: 20px;
}

#registration-page #third-party-div > * {
    margin: 20px 0px 20px 0px;
}

#secondary-navbar {
    display: inline;
    font-size: 1.0em;
}

table thead {
    font-weight: bold;
    text-align: center;
}

#secondary-navbar ul {
    display: inline;
}

section {
    display: block;
}

#site-wide-announcements {
    background-color: #DEFFDD;
    border: 2px solid #20BC00;
    margin: 10px;
    padding: 5px 10px 5px 10px;
}

ul {
    list-style-position: inside;
}

#user-bar {
    background-color: #333333;
    color: #CCCCCC;
    padding: 0.5em 0em;
    text-align: right;
}

#user-bar li {
    display: inline;
    padding: 10px;
}

#user-bar nav {
    display: inline;
}

#user-bar ul {
    display: inline;
    list-style-type: none;
    padding: 3px 0px;
}
