{% extends "base.html" %}

{% block title %}Password Change{% endblock %}

{% block content %}

<h1>Password change</h1>

{% if form.errors %}
    <p>
    Please correct any errors below.
    </p>
{% endif %}

<form action="" method="post">{% csrf_token %}

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<table border="0" cellpadding="0" cellspacing="0">
    {{ form }}
    <tr><th><input type="submit" value="Change my password" /></th><td></td></tr>
</table>

</form>

{% endblock %}
