{% extends "base.html" %}

{% block title %}Account Profile{% endblock %}

{% block description %}Your account profile settings{% endblock %}

{% block content %}
<h1>Your account profile settings</h1>

<p>
    Username: {{ user.username }}<br />
    Password: <a href="{% url django.contrib.auth.views.password_change %}" title="Change password">Change password</a>
</p>
<p>
    First name: {% if user.first_name %}{{ user.first_name }}{% else %}&lt;Not provided&gt;{% endif %}<br />
    Last name: {% if user.last_name %}{{ user.last_name }}{% else %}&lt;Not provided&gt;{% endif %}<br />
    Email address: {% if user.email %}<a href="mailto:{{ user.email }}">{{ user.email }}</a>{% else %}&lt;Not provided&gt;{% endif %}<br />
    Website: {% if user.get_profile.url %}<a href="{{ user.get_profile.url }}">{{ user.get_profile.url }}</a>{% else %}&lt;Not provided&gt;{% endif %}<br />
</p>
<p><a href="{% url accounts.views.profile_change %}" title="Update Profile">Update Your Profile</a></p>
{% endblock %}
