{% extends "base.html" %}

{% block title %} | About Us{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<h1>About Us</h1>

<h2>Who we are</h2>
<p>Open Source at Laurier is an association of students and a campus club at
Wilfrid Laurier University committed to supporting and advocating for Open
Source software development practices and applications.</p>

<h2>Our Mission Statement</h2>
<p>To provide support and advocacy for the open source software development
process and the applications that use it.</p>

<h2>Our Executive Team</h2>
<ul>
    <li>President - Jeffrey Charles</li>
    <li>Vice President, External - Siraj Mithoowani</li>
    <li>Vice President, Internal - Blake Vollbrecht</li>
    <li>Treasurer - Brendan Parker</li>
</ul>

<h2>Contact Information</h2>
<p>We can reached at
<a href="mailto:info@wluopensource.org">info@wluopensource.org</a> if you would
like more information.</p>

{% endblock %}
