<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>OSL{% block title %}{% endblock %}</title>
        <meta name="author" content="OSL (Open Source at Laurier)" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="open,source,software,support,advocacy,development" />
        <meta name="google-site-verification" content="E132HGoJrQKRdNhgb6lxkp6e0Lc94hg3fwQBldnuHP0" />
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="{{ MEDIA_URL }}css/global.css" rel="stylesheet" />
        {% block css %}{% endblock %}
        <link href="{{ MEDIA_URL }}/favicon.ico" rel="icon" type="image/vnd.microsoft.icon" />
        <link href="{{ MEDIA_URL }}/favicon.ico" rel="SHORTCUT ICON" type="image/vnd.microsoft.icon" />
    </head>
    <body>
        <div id="container">
            <header>
                <img src="{{ MEDIA_URL }}images/OSL-logo.jpg" alt="OSL" width="214" height="100" />
                <nav id="primary-navbar">
                    <ul>
                        <li><a href="{% url home %}" title="OSL Home Page">Home</a></li>
                        <li><a href="{% url articles.views.index %}" title="OSL Articles">Articles</a></li>
                        <li><a href="{% url development %}" title="OSL Software Projects">Development</a></li>
                        <li><a href="{% url about %}" title="About OSL">About Us</a></li>
                    </ul>
                </nav>
            </header>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div id="clear-footer"></div>
        </div>
        <footer>
            <section>&copy;2009 OSL</section>
            <nav id="secondary-navbar">
                <ul>
                    <li><a href="{% url terms %}" title="Terms of Use of the OSL Site">Terms and Conditions</a></li>
                    <li><a href="{% url privacy %}" title="OSL Privacy Policy">Privacy</a></li>
                </ul>
            </nav>
        </footer>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-8667609-2");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </body>
</html>
