{% extends "base.html" %}

{% block title %} | Privacy{% endblock %}

{% block description %}Open Source at Laurier's Privacy Policy.{% endblock %}

{% block content %}

<h1>Privacy</h1>

<p>Here at Open Source at Laurier, we track aggregate data about our visitors
through Google Analytics. We will not store any information that can be
used to personally identify you such as an IP Address at the present time.</p>

<p>When the user registration process opens up we may ask for information about
you but we will not require you to provide us with any more information than
you feel comfortable providing us.</p>

{% endblock %}
