{% extends "base.html" %}

{% block title %}{{ article.title|title }}{% endblock %}

{% block description %}{{ article.description }}{% endblock %}

{% block css %}
<link href="{{ MEDIA_URL }}css/article-view.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<article>
    <header>
        <hgroup>
            <h1>{{ article.title|title }}</h1>
            <div id="article-author-date">
            {% if article.authors.all|length <= 2 %}
                <a href="mailto:{{ article.authors.all.0.email }}">{{ article.authors.all.0.get_full_name }}</a>
                {% if article.authors.all|length == 2 %}
                and <a href="mailto:{{ article.authors.all.1.email }}">{{ article.authors.all.1.get_full_name }}</a>
                {% endif %}
            {% else %}
            {% for author in article.authors.all %}
                {% if not forloop.last %}
                <a href="mailto:{{ author.email }}">{{ author.get_full_name }}</a>, 
                {% else %}
                and <a href="mailto:{{ author.email }}">{{ author.get_full_name }}</a>
                {% endif %}
            {% endfor %}
            {% endif %}
                <br />
                <time datetime="{{ article.date_created|date:"Y-m-d" }}" pubdate>{{ article.date_created|date:"F j, Y" }}</time>
                {% ifnotequal article.date_created article.date_updated %}
                    <br />Updated <time datetime="{{ article.date_updated|date:"Y-m-d" }}">{{ article.date_updated|date:"F j, Y" }}</time>
                {% endifnotequal %}
            </div>
            <h2>
                {{ article.description }}
            </h2>
        </hgroup>
    </header>
    {{ article.content|safe }}
</article>

{% load osl_comments %}

{% get_threaded_comment_list for article as comments sorted by newest limit 100 offset 0 %}
{% if not comments %}
<p>There do not appear to be any comments for this article.</p>
{% else %}
<ul>
    {% for comment in comments %}
    <li>{{ comment.comment }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
