{% extends "base.html" %}

{% block title %}{{ article.title|title }}{% endblock %}

{% block description %}{{ article.description }}{% endblock %}

{% block css %}
<link href="{{ MEDIA_URL }}css/article-view.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<article>
    <header>
        <hgroup>
            <h1>{{ article.title|title }}</h1>
            <div id="article-author-date">
            {% if article.authors.all|length <= 2 %}
                <a href="mailto:{{ article.authors.all.0.email }}">{{ article.authors.all.0.get_full_name }}</a>
                {% if article.authors.all|length == 2 %}
                and <a href="mailto:{{ article.authors.all.1.email }}">{{ article.authors.all.1.get_full_name }}</a>
                {% endif %}
            {% else %}
            {% for author in article.authors.all %}
                {% if not forloop.last %}
                <a href="mailto:{{ author.email }}">{{ author.get_full_name }}</a>, 
                {% else %}
                and <a href="mailto:{{ author.email }}">{{ author.get_full_name }}</a>
                {% endif %}
            {% endfor %}
            {% endif %}
                <br />
                <time datetime="{{ article.date_created|date:"Y-m-d" }}" pubdate>{{ article.date_created|date:"F j, Y" }}</time>
                {% ifnotequal article.date_created article.date_updated %}
                    <br />Updated <time datetime="{{ article.date_updated|date:"Y-m-d" }}">{{ article.date_updated|date:"F j, Y" }}</time>
                {% endifnotequal %}
            </div>
            <h2>
                {{ article.description }}
            </h2>
        </hgroup>
    </header>
    {{ article.content|safe }}
</article>
<section id="comments">
    <h1>Comments</h1>
    {% if flash.comment_response %}
        <p>{{ flash.comment_response }}</p>
    {% endif %}

    {% load osl_comments_lib %}

    {% if not request.GET.reply_to and not request.GET.edit_comment %}
        {% render_anon_comment_form for article %}
    {% endif %}

    {% get_threaded_comment_list for article as comments sorted by newest %}
    {% if not comments %}
    <p>There do not appear to be any comments for this article.</p>
    {% else %}
    <ul id="comment-list">
        {% for comment in comments %}
        <li{% if not comment.parent %} class="comment-child"{% endif %}>
            <div class="comment-header">
                {% if comment.url %}
                    <a href="{{ comment.url }}">{{ comment.name }}</a>
                {% else %}
                    {{ comment.name }}
                {% endif %}
                said {{ comment.submit_date|timesince }} ago:
                {% if comment.edit_timestamp != comment.submit_date %}
                    *edited
                {% endif %}
            </div>
            {% if request.GET.edit_comment == comment.id|slugify %}
                {% render_edit_comment_form for comment %}
            {% else %}
                <blockquote class="comment-body">
                    {{ comment.comment }}
                </blockquote>
                <ul class="comment-links">
                    {% if comment.parent %}
                        <li><a href="{% output_comment_reply_url for comment %}">Reply</a></li>
                    {% endif %}
                    {% if comment.user == request.user %}
                        <li><a href="?edit_comment={{ comment.id }}">Edit</a></li>
                    {% endif %}
                    <li><a href="#">Report this comment</a></li>
                </ul>
            {% endif %}
        </li>
        {% if request.GET.reply_to == comment.id|slugify and comment.parent %}
            <li class="comment-child">{% render_anon_comment_form for article replying to comment.id %}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% get_comment_paginator_page for article as comment_page %}
    {% if comment_page.has_previous %}
        <a href="?comment_page={{ comment_page.previous_page_number }}">Previous</a>
    {% endif %}
    {% if comment_page.has_next %}
        <a href="?comment_page={{ comment_page.next_page_number }}">Next</a>
    {% endif %}
    {% endif %}
</section>
{% endblock %}
