<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>OSL{% block title %}{% endblock %}</title>
        <meta name="author" content="OSL (Open Source at Laurier)" />
        <meta name="description" content="Open Source software support, advocacy, and development" />
        <meta name="keywords" content="open,source,software,support,advocacy,development" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link href="{{ MEDIA_URL }}css/global.css" rel="stylesheet" type="text/css" />
        {% block css %}{% endblock %}
    </head>
    <body>
        <div id="container">
            <div id="header">
                <img src="{{ MEDIA_URL }}images/OSL-logo.jpg" alt="OSL" width="214" height="100" />
            </div>
            <div id="top-navbar" class="horizontal-navbar">
                <ul id="primary-navbar">
                    <li><a href="{% url home %}" title="OSL Home Page">Home</a></li>
                    <li><a href="{% url articles.views.index %}" title="OSL Articles">Articles</a></li>
                    <li><a href="{% url development %}" title="OSL Software Projects">Development</a></li>
                    <li><a href="{% url about %}" title="About OSL">About Us</a></li>
                </ul>
                <div style="clear: both"></div>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div id="clear-footer"></div>
        </div>
        <div id="footer">
            <p style="float: left; margin-left: 20px; margin-right: 20px;">&copy;2009 OSL</p>
            <div class="navbar">
                <ul id="secondary-navbar" class="horizontal-navbar">
                    <li><a href="{% url terms %}" title="Terms of Use of the OSL Site">Terms and Conditions</a></li>
                    <li><a href="{% url privacy %}" title="OSL Privacy Policy">Privacy</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>