{% extends "base.html" %}

{% block title %} | Welcome to Open Source at Laurier!{% endblock %}

{% block content %}
<h1>Welcome to Open Source at Laurier!</h1>

<p>Open Source at Laurier is a student association at Wilfrid Laurier University
dedicated to providing support for and advocating for open source software. Open
source is a process of software development that promises more control for end
users, more accountability on software developers, and a better end result for
the community at large because of the free nature of open source software.</p>

<p>Currently on this site we offer articles on the subject of open source
software and open source software development. Other aspects of the site are
under development and the source code is available. Check out the development
section for more information!</p>

{% load homepage_article_list %}
{% list_articles 5 %}
{% endblock %}
