<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} | Open Source at Laurier (OSL)</title>
        <meta name="author" content="OSL (Open Source at Laurier)" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="google-site-verification" content="E132HGoJrQKRdNhgb6lxkp6e0Lc94hg3fwQBldnuHP0" />
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="{{ MEDIA_URL }}css/global.css" rel="stylesheet" />
        {% block css %}{% endblock %}
        <link href="{{ MEDIA_URL }}favicon.ico" rel="icon" type="image/vnd.microsoft.icon" />
        <link href="{{ MEDIA_URL }}favicon.ico" rel="SHORTCUT ICON" type="image/vnd.microsoft.icon" />
    </head>
    <body>
        <div id="container">
            <header>
                <a href="{% url home %}" title="Home Page"><img src="{{ MEDIA_URL }}images/OSL-banner.png" alt="Open Source at Laurier (OSL)" width="950" height="100" border="0" /></a>
                <nav id="primary-navbar">
                    <ul>
                        <li><a href="{% url home %}" title="Home Page">Home</a></li>
                        <li><a href="{% url articles.views.index %}" title="Articles">Articles</a></li>
                        <li><a href="{% url development %}" title="Software Projects">Development</a></li>
                        <li><a href="{% url about %}" title="About Us">About Us</a></li>
                        <li><a href="{% url laurier_wireless_connect %}" title="Laurier Wireless Connect">Laurier Wireless Connect</a></li>
                    </ul>
                </nav>
            </header>
            <div id="content">
            {% if site_wide_announcements %}
                <div id="site-wide-announcements">
                    <ul>
                        {% for announcement in site_wide_announcements %}
                        <li>
                            <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
                            <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">Hide</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
                {% block content %}{% endblock %}
            </div>
            <div id="clear-footer"></div>
        </div>
        <footer>
            <section>&copy;2009-2010 Open Source at Laurier</section>
            <nav id="secondary-navbar">
                <ul>
                    <li><a href="{% url terms %}" title="Terms and Conditions">Terms and Conditions</a></li>
                    <li><a href="{% url privacy %}" title="Privacy Policy">Privacy</a></li>
                </ul>
            </nav>
        </footer>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-12798875-1");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </body>
</html>
