{% load osl_comments_lib voting_tags %}
{% if not comment_list %}
    <p>There does not appear to be anything here.</p>
{% else %}
    Sort by:
    <ul id="comment-sorting-links">
        <li><a href="{% output_sort_by_newest_url %}">Newest</a></li>
        <li><a href="{% output_sort_by_score_url %}">Highest score</a></li>
        <li><a href="{% output_sort_by_oldest_url %}">Oldest</a></li>
    </ul>
    {% user_is_banned_from_commenting as is_banned_from_commenting %}
    {% votes_by_user request.user on comment_list as comment_votes %}
    <ul id="comment-list">
        {% if not comment_list.0.parent %}
            {% with first_comment_parent as comment %}
                <li class="comment comment-pagination-parent">
                    {% if not comment.is_removed and not comment.is_moderated %}
                        <div class="comment-score" data-ajax-url="{% url get_comment_vote_box_template object_id=comment.id %}">
                            {% vote_by_user request.user on comment as vote %}
                            {% url vote-comment object_id=comment.id direction='up' as upvote_url %}
                            {% url vote-comment object_id=comment.id direction='clear' as clearvote_url %}
                            {% url vote-comment object_id=comment.id direction='down' as downvote_url %}
                            {% with comment.score as object_score %}
                                {% include "voting/default_vote_box.html" %}
                            {% endwith %}
                        </div>
                        <div class="comment-header">
                            {% if comment.user_url %}
                            <a href="{{ comment.user_url }}">{{ comment.user_name }}</a>
                            {% else %}
                                {{ comment.user_name }}
                            {% endif %}
                            said {{ comment.submit_date|timesince }} ago:
                            {% if comment.edit_timestamp != first_comment.submit_date %}
                                *edited
                            {% endif %}
                        </div>
                        <blockquote class="comment-body">
                            {{ comment.transformed_comment|safe }}
                        </blockquote>
                        <ul class="comment-links">
                            {% if request.user.is_authenticated and request.user.id == comment.user_id %}
                                <li><a href="{% url osl_comments.views.delete_comment comment.id %}">Delete</a></li>
                            {% endif %}
                            {% if request.user.is_authenticated and comment.user_id != request.user.id %}
                            {% if perms.comments.can_moderate %}
                                <li><a href="{% url comments-delete comment.id %}">Moderate this comment</a></li>
                            {% else %}
                                <li><a href="{% url comments-flag comment.id %}">Report this comment</a></li>
                            {% endif %}
                        {% endif %}
                        {% if perms.osl_comments.can_ban %}
                            <li><a href="{% url osl_comments.views.update_ip_address_ban comment.id %}">Examine IP address</a></li>
                        {% endif %}
                        </ul>
                    {% endif %}
                    {% if comment.is_moderated %}
                        <div class="comment-header">
                            [moderated] said {{ comment.submit_date|timesince }} ago:
                        </div>
                        <blockquote class="comment-body">
                            <p>This comment has been moderated</p>
                        </blockquote>
                        <ul class="comment-links">
                            {% if perms.osl_comments.can_ban %}
                                <li><a href="{% url osl_comments.views.update_ip_address_ban comment.id %}">Examine IP address</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    {% if comment.is_removed %}
                        <div class="comment-header">
                            [deleted] said {{ comment.submit_date|timesince }} ago:
                        </div>
                        <blockquote class="comment-body">
                            <p>This comment has been deleted</p>
                        </blockquote>
                        <ul class="comment-links">
                            {% if perms.osl_comments.can_ban %}
                                <li><a href="{% url osl_comments.views.update_ip_address_ban comment.id %}">Examine IP address</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </li>
            {% endwith %}
        {% endif %}
        {% for comment in comment_list %}
        <li class="comment{% if not comment.parent %} comment-child{% endif %}"><a name="c{{ comment.id }}"></a>
            {% if not comment.is_removed and not comment.is_deleted_by_user %}
                <div class="comment-score" data-ajax-url="{% url get_comment_vote_box_template object_id=comment.id %}">
                    {% dict_entry_for_item comment from comment_votes as vote %}
                    {% url vote-comment object_id=comment.id direction='up' as upvote_url %}
                    {% url vote-comment object_id=comment.id direction='clear' as clearvote_url %}
                    {% url vote-comment object_id=comment.id direction='down' as downvote_url %}
                    {% with comment.score as object_score %}
                        {% include "voting/default_vote_box.html" %}
                    {% endwith %}
                </div>
                <div class="comment-nonscore">
                    <div class="comment-header">
                        {% if comment.user_url %}
                            <a href="{{ comment.user_url }}">{{ comment.user_name }}</a>
                        {% else %}
                            {{ comment.user_name }}
                        {% endif %}
                        said {{ comment.submit_date|timesince }} ago:
                        {% if comment.edit_timestamp != comment.submit_date %}
                            *edited
                        {% endif %}
                    </div>
                    {% should_display_edit_form for comment as display_edit_form %}
                    {% if display_edit_form and not is_banned_from_commenting %}
                        {% render_edit_comment_form for comment %}
                    {% else %}
                        <blockquote class="comment-body">
                            {{ comment.transformed_comment|safe }}
                        </blockquote>
                        <ul class="comment-links">
                            {% if comment.parent and comments_enabled and not is_banned_from_commenting %}
                                <li><a href="{% output_comment_reply_url for comment %}">Reply</a></li>
                            {% endif %}
                            {% if comment.user_id == request.user.id and comments_enabled and not is_banned_from_commenting %}
                                <li><a href="{% output_comment_edit_url for comment %}">Edit</a></li>
                            {% endif %}
                            {% if request.user.is_authenticated and comment.user_id == request.user.id %}
                                <li><a href="{% url osl_comments.views.delete_comment comment.id %}">Delete</a></li>
                            {% endif %}
                            {% if request.user.is_authenticated and comment.user_id != request.user.id %}
                                {% if perms.comments.can_moderate %}
                                    <li><a href="{% url comments-delete comment.id %}">Moderate this comment</a></li>
                                {% else %}
                                    <li><a href="{% url comments-flag comment.id %}">Report this comment</a></li>
                                {% endif %}
                            {% endif %}
                            {% if perms.osl_comments.can_ban %}
                                <li><a href="{% url osl_comments.views.update_ip_address_ban comment.id %}">Examine IP address</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
            {% if comment.is_removed %}
                <div class="comment-nonscore">
                    <div class="comment-header">
                        [moderated] said {{ comment.submit_date|timesince }} ago:
                    </div>
                    <blockquote class="comment-body">
                        <p>This comment has been moderated</p>
                    </blockquote>
                    <ul class="comment-links">
                        {% if perms.osl_comments.can_ban %}
                            <li><a href="{% url osl_comments.views.update_ip_address_ban comment.id %}">Examine IP address</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            {% if comment.is_deleted_by_user %}
                <div class="comment-nonscore">
                    <div class="comment-header">
                        [deleted] said {{ comment.submit_date|timesince }} ago:
                    </div>
                    <blockquote class="comment-body">
                        <p>This comment has been deleted</p>
                    </blockquote>
                    <ul class="comment-links">
                        {% if perms.osl_comments.can_ban %}
                            <li><a href="{% url osl_comments.views.update_ip_address_ban comment.id %}">Examine IP address</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </li>
        {% should_display_reply_form for comment as display_reply_form %}
        {% if display_reply_form and not comment.is_removed and not comment.is_deleted_by_user and not is_banned_from_commenting %}
            <li class="comment-child">{% render_anon_comment_form for object replying to comment %}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% get_comment_paginator_page for object as comment_page %}
    {% if comment_page.has_previous %}
        <a href="{% output_previous_comment_page_url with comment_page %}">Previous</a>
    {% endif %}
    {% if comment_page.has_previous or comment_page.has_next %}
        Page {{ comment_page.number }} of {{ comment_page.paginator.num_pages }}
    {% endif %}
    {% if comment_page.has_next %}
        <a href="{% output_next_comment_page_url with comment_page %}">Next</a>
    {% endif %}
{% endif %}
