{% load osl_comments_lib voting_tags %}
{% if not comment_list %}
    <p>There does not appear to be anything here.</p>
{% else %}
    Sort by:
    <ul id="comment-sorting-links">
        <li><a href="{% output_sort_by_newest_url %}">Newest</a></li>
        <li><a href="{% output_sort_by_score_url %}">Highest score</a></li>
        <li><a href="{% output_sort_by_oldest_url %}">Oldest</a></li>
    </ul>
    {% user_is_banned_from_commenting as is_banned_from_commenting %}
    {% votes_by_user request.user on comment_list as comment_votes %}
    {% get_object_ctype for object as object_ctype %}
    <ul id="comment-list">
        {% if not comment_list.0.parent %}
            {% with first_comment_parent as comment %}
                <li class="comment comment-pagination-parent">
                    {% score_for_object comment as comment_score %}
                    {% with comment_score.score as comment_score %}
                        {% vote_by_user request.user on comment as vote %}
                        {% get_flags_by_user_for_comments by request.user for comment as flags %}
                        {% include "comments/comment.html" %}
                    {% endwith %}
                </li>
            {% endwith %}
        {% endif %}
        {% get_flags_by_user_for_comments by request.user for comment_list as flags %}
        {% for comment in comment_list %}
        <li class="comment{% if not comment.parent %} comment-child{% endif %}">
            {% with comment.score as comment_score %}
                {% dict_entry_for_item comment from comment_votes as vote %}
                {% include "comments/comment.html" %}
            {% endwith %}
        </li>
        {% should_display_reply_form for comment as display_reply_form %}
        {% if display_reply_form and not comment.is_removed and not comment.is_deleted_by_user and not is_banned_from_commenting %}
            {% include "comments/reply_form_container.html" %}
        {% endif %}
        {% endfor %}
    </ul>
    {% get_comment_paginator_page for object as comment_page %}
    {% if comment_page.has_previous %}
        <a href="{% output_previous_comment_page_url with comment_page %}">Previous</a>
    {% endif %}
    {% if comment_page.has_previous or comment_page.has_next %}
        Page {{ comment_page.number }} of {{ comment_page.paginator.num_pages }}
    {% endif %}
    {% if comment_page.has_next %}
        <a href="{% output_next_comment_page_url with comment_page %}">Next</a>
    {% endif %}
{% endif %}
