Django==1.2
Markdown
oauth2==1.2
psycopg2>=2.0.0
python-openid==2.2.5
wsgiref>=0.1.2
django-tagging==0.3.1
django-announcements==0.1.0
django-debug-toolbar==0.8.3
django-flash==1.7.1
django-mailer==0.1.0
django-notification==0.1.5

-e git+http://github.com/facebook/python-sdk.git#egg=facebook
-e git+http://github.com/flashingpumpkin/django-socialregistration.git#egg=socialregistration

